li a {
    color: #6E2C00;
    font-size: 25px;
}

ul {
  list-style-type: none;
  margin: 2px 2px;
}

body {
    background: white url("/static/polls/images/background_new.png");
    background-size: cover;
    margin: 5px 5px;
    padding: 0;
}

h1.ku-polls-title {
    color: #6E2C00;
    font-size: 50px;
    text-align: center;
    margin: 20px 20px;
}

h1 {
    color: #6E2C00;
    font-size:35px;
    text-align: center;
    margin: 20px 20px;
}

h2 {
    color: #885317;
    font-size:30px;
    text-align: left;
    margin: 10px 20px;
    padding: 10px 30px;
}


.messages li {
    font-size: 20px;
    margin: 5px 5px;
}

.to-list-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 55px;
    background-color: #CD5C5C;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.result-link {
    color: #c6343f;
    font-size: 18px;
    font-weight: normal;
    margin-left: 50px;
    padding: 30px 20px;
}

.results {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-left: 50px;
}

.results th, .results td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.results th {
    background-color: #dfa97b;
    color: white;
}

.results td {
    background-color: white;
    color: #d36c17;
}
